<h1>travel Info</h1>

<div *ngFor="let data of data; let i = index">
    <ul>
        <li>{{ data.travelId }}</li>
        <li>{{ data.travelFirstName }}</li>
        <li>{{ data.travelLastName }}</li>
        <li>{{ data.travelAddress }}</li>
        <li>{{ data.travelDOB }}</li>
    </ul>
    <button mat-raised-button color="primary" (click)="toggle()">Update travel</button>
    <button mat-raised-button color="warn" (click)="delete(data.id)">Delete travel</button>


    <form [formGroup] = "updateForm" *ngIf="show && i == i">
        <label for="travelFirstName">First Name</label>
        <input type="text" formControlName = "travelFirstName" id="travelFirstName">
        <div *ngIf="travelFirstName.invalid && (travelFirstName.dirty || travelFirstName.touched)" class="alert alert-danger">At least 4 characters is required</div>

        <label for="travelLastName">Last Name</label>
        <input type="text" formControlName = "travelLastName" id="travelLastName">
        <div *ngIf="travelLastName.invalid && (travelLastName.dirty || travelLastName.touched)" class="alert alert-danger">At least 4 characters is required</div>


        <label for="travelAddress">Address</label>
        <input type="text" formControlName = "travelAddress" id="travelAddress">
        <div *ngIf="travelAddress.invalid && (travelAddress.dirty || travelAddress.touched)" class="alert alert-danger">At least 4 characters is required</div>


        <label for="travelDOB">Date of Birth</label>
        <input type="text" formControlName = "travelDOB" id="travelDOB">
        <div *ngIf="travelDOB.invalid && (travelDOB.dirty || travelDOB.touched)" class="alert alert-danger">At least 4 characters is required</div>

        <button type="button" (click)="onSubmit(data.id,travelFirstNameValue,travelLastNameValue,travelAddressValue,travelDOBValue )">Submit</button>
    </form>
</div>
