*{
     margin:0;
     padding: 0;
     
 } 
 .load{
     animation: slide 2s;
 }
 .slider{
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 100vh;
     animation: slide 40s infinite;
 }




@keyframes slide{
    0% {
        background-image: url('../travel-home/images/1.jpg');
        height:100vh;
        background-position: cover;
    }
    20% {
        background-image: url('../travel-home/images/2.jpg');
        height:100vh;
        background-position: cover;
    }
    20.01% {
        background-image: url('../travel-home/images/3.jpg');
        height:100vh;
        background-position: cover;
    }
    40% {
        background-image: url('../travel-home/images/4.jpg');
        height:100vh;
        background-position: cover;
    }
    40.01% {
        background-image: url('../travel-home/images/5.jpeg');
        height:100vh;
        background-position: cover;
    }
    60% {
        background-image: url('../travel-home/images/6.jpg');
        height:100vh;
        background-position: cover;
    }
    60.01% {
        background-image: url('../travel-home/images/7.jpg');
        height:100vh;
        background-position: cover;
    }
    80% {
        background-image: url('../travel-home/images/7.jpg');
        height:100vh;
        background-position: cover;
    }
    80.01% {
        background-image: url('../travel-home/images/7.jpg');
        height:100vh;
        background-position: cover;
    }
    100% {
        background-image: url('../travel-home/images/7.jpg');
        height:100vh;
        background-position: cover;
    }
    0%{
        background-image: url('../travel-home/images/7.jpg');
        height:100vh;
        background-position: cover;
    }

}

body {
    background-image: linear-gradient(to right , #cb2d3e , #ef473a);
}

.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 50px;
    border-radius: 50px;
    padding: 10px;

}

.searchBox:hover  .searchInput {
    width: 250px;
    padding: 0 6px;
}

.searchBox:hover  .searchButton {
  background: #fff;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 50px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover  .searchInput {
    width: 150px;
    padding: 0 6px;
}
}