
<header><p style="text-align:center;"><img src="https://d2v76fz8ke2yrd.cloudfront.net/media/hotels/slideshow_images_staged/large/1094976.jpg" alt="Logo"></p>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



</header>
<div class="searchBox">
    <form action="/search?">
       <input class="searchInput" type="search" name="q" placeholder="Search">
       <button class="searchButton" type="submit">
       <i class="material-icons">
       search
       </i>
       </button>
    </form>
    </div> 
